/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.slider-container-construction,.slider-container-interior, .slider-container-upvc{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(243, 248, 249, 0.8);

  z-index: 2;

  user-select: none;
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 500px;
  width:400px;
  object-fit: cover;
  border-radius: 2px;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}

/* cross btn */

.close{
  font-size: 50px;
  color: #000;
  position: absolute;
  top: 0;
  right: 0;

  z-index: 11;
  cursor: pointer;
}
.slide p {
 
 
  text-align: center;
  /* padding: 20px; */
 
  font-size: 14px;
  font-weight: 400;
  color: #fff;

}

/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  /* background-color: rgba(0, 0, 0, 0.1); */
  transition: 0.2s;
}
/* .nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
} */
.nav-btn::after,
.nav-btn::before {
  font-size: 40px;
  color: #000;
}

.swiper-pagination{
  top: 0;
}
.swiper-pagination-bullet {
 
  background-color: #000;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: block;
  }
  
  
}
